In [2]:
#importing libraries
import pandas as pd
import numpy as np
def warn (*args, **kwargs):
    pass
import warnings
warnings.warn= warn
warnings.filterwarnings('ignore')
print('Libraries imported successfully!')

Libraries imported successfully!

In [3]:
URL= 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'

In [17]:
tables = pd.read_html(URL)
df= tables[3]
print(df)

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]

In [18]:
#replacing the column headers with column numbers
df.columns = range(df.shape[1])
#retaining the columns containing the name of the country and the GDP value as quoted by IMF
df= df[[0,2]]
#retain rows with index 1-10 indicating top 10 economies in the world
df= df.iloc[1:11,:]
#assign column names as Country and GDP
df.columns= ['Country', 'GDP (in Millions USD)']

print(df)

           Country GDP (in Millions USD)
1    United States              26854599
2            China              19373586
3            Japan               4409738
4          Germany               4308854
5            India               3736882
6   United Kingdom               3158938
7           France               2923489
8            Italy               2169745
9           Canada               2089672
10          Brazil               2081235

In [20]:
#converting the GD (in Millions USD) to GDP (in Billions USD)
gdp_column= 'GDP (in Millions USD)'
df['GDP (in Billions USD)'] = df[gdp_column].apply(lambda x: round(float(x.replace(',', '')) / 1000, 2) if isinstance(x, str) else round(x / 1000, 2))
df.drop(columns=['GDP (in Millions USD)'], inplace=True)
print(df)

           Country  GDP (in Billions USD)
1    United States               26854.60
2            China               19373.59
3            Japan                4409.74
4          Germany                4308.85
5            India                3736.88
6   United Kingdom                3158.94
7           France                2923.49
8            Italy                2169.74
9           Canada                2089.67
10          Brazil                2081.24

In [22]:
#printing out the dataframe
df.to_csv('Largest_economies.csv', index=False)

print('DataFrame has been saved')

DataFrame has been saved